
  /* ======================================
            CSS reset
====================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} 

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================================
    Home page
================================== */

body {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

html {
  font-size: 62.5%;
}
  
.main { 
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: rgb(61, 10, 129);
}

.main a {
  text-decoration: none;
}

.main__logo {
  display: block;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 6rem;
}

.logo {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 2.5rem;
  position: relative;
  top: 1rem;
  left: 25vw;
}

.logo h2 {
  font-size: 1.5rem;
  color: #fff;
  position: relative;
  top: 1rem;
  text-decoration: none;
  left: 25vw;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  top: 15px;
  left: 2rem;
  font-family: monospace;
  color: #fff;
}

.navbar a:first-child {
  color: #ff0000;
}

.navbar a:hover {
  box-shadow: 0.4rem 0.4rem 0.7rem 0.2rem rgba(0,0,0,0.6);
  color: #ee9714;
}

.carousel-item {
  height: auto;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-caption h5 {
  position: relative;
  bottom: 6rem;
  right: 15vw; 
  color: rgb(245, 222, 179); 
  font-size: 7rem;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
  letter-spacing: 3px; 
}

.carousel-item p {
  position: relative;
  bottom: 5rem;
  right: 5vw;
  color: rgb(245, 222, 179);
  font-size: 5rem;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
  letter-spacing: 3px;
}

.animate__bounceInLeft,.animate__fadeInDown,.animate__zoomIn {
  animation-delay: 1s;
}

.animate__bounceInUp,.animate__backInUp,.animate__bounceIn {
  animation-delay: 2s;
}

.home__paragraph {
  font-size: 1.5rem;
  color: whitesmoke;
  position: relative;
  margin: 45px auto;
  padding: 0px 15px;
}

/* ===========================================
          players section
===========================================  */

.players {
  width: 90vw;
  margin: 0px auto;
  margin-top: 2rem;
}

.gallery { 
  box-shadow: 0.4rem 0.4rem 0.7rem 0.2rem rgba(0,0,0,0.6);
  overflow: hidden; 
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallery img:hover {
  transform: scale(1.1,1.1);
  transition: .3s transform;
}

.name {
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
  font-style: italic;
  position: relative;
  margin-left: -15px;
}

.title {
  font-size: 1.8rem;
  color: rgb(243, 108, 19);
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
  font-style: italic;
  text-align: center;
  margin-left: -20px; 
}

.gallery a {
  text-decoration: none;
}

.container {
  float: left;
  padding: 0rem 1rem;
  margin-top: 1.5rem;
  background: rgb(39, 8, 211);
  width: 100%; 
  margin: 5px auto;
  background: linear-gradient(90deg, rgb(8, 3, 66) 100%, rgba(9,9,121,1) 100%, rgb(241, 154, 23) 100%);
}

/* ======================================
    intro section
====================================== */

.head {
  width: 100%;
  height: 25vmin;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.6);
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 35%, rgba(200,212,255,1) 200%);
}

.headline h1 {
  width: 50vw;
  color: black;
  font-size: 1rem; 
  position: relative;
  padding-top: 10px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.headline__break {
  width: 99.5%;
  position: relative;
  left: 0.2rem;
}

.svg1 {
  position: relative;
  right: 0;
}

.intro {
  width: 80vw;
  height: auto;
  background-color: rgb(235, 245, 245);
  position: relative;
  margin: -25px auto;
  box-shadow: 0.7rem 0.7rem 0.7rem 0.7rem rgba(0,0,0,0.6);
}

.image {
  margin: 20px 5px;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.6);
}

.image img {
  width: 100%;
  height: auto;
}

.paragraph p {
  position: relative;
  font-size: 1rem;
  margin-bottom: 5px;
  padding: 5px 10px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

/* =========================================
      about section
======================================== */

.about {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(9, 57, 119) 100%);
  width: 90vw;
  height: auto;
  margin: 30px auto;
  padding: 10px;
  box-shadow: 0.4rem 0.4rem 0.7rem 0.2rem rgba(0,0,0,0.6);
}

.about__history {
  color: antiquewhite;
  font-size: 1.2rem;
  font-family: 'Play', sans-serif;
  padding: 3rem 2rem;
}

.about h1 {
  width: max-content;
  border: 2px solid rgb(60, 69, 187);
  border-radius: 40px;
  color: aliceblue;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  padding: 10px;
  text-shadow: 0.2rem 0.5rem 0.4rem #0f44f1a1;
}

/* ==============================
      footer section
============================== */

.footer__sec img {
  width: 10vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.caption {
  position: relative;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  color: #ee9714;
}

.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  color: white;
  font-size: 1rem;
}

/* ==========================================
    Breakpoint at 321px <= width <= 480px
========================================== */

@media (min-width:321px) and (max-width:480px) {
  
  html {
    font-size: 35%;
  }

  .main__logo {
    display: flex;
    height: 10rem;
  }

  .logo {
    width: 40%;
  }

  .logo img {
    width: 5rem;
    top: 0;
    left: 5vw; 
  }

  .logo h2 {
    font-size: 2.5rem;
    top: 0;
    left: 8vw;
  }

  .navbar {
    width: 60%;
  }

  .navbar a {
    font-size: 3rem;
    top: 0;
  }

  .name,.title {
    font-size: 6rem;
  }

  .about__history {
    font-size: 3.2rem;
  }
  
  .about h1 {
    font-size: 2.5rem;
  }

  .paragraph p {
    font-size: 3.5rem;
  }

  .headline h1 {
    font-size: 3rem;
    left: 6rem;
  }

  .intro {
    margin: -45px auto;
  }

  .caption {
    font-size: 2.5rem;
  }

  .copyright {
    font-size: 2rem;
  }

  .home__paragraph {
    font-size: 2.5rem;
  }
}

/* ==========================================
    Breakpoint at 481px <= width <= 780px
========================================== */

@media (min-width:481px) and (max-width:780px) {
  
  html {
    font-size: 40%;
  }

  .main__logo {
    display: flex;
    height: 10rem;
  }

  .logo {
    width: 40%;
    display: flex; 
  }

  .logo img {
    width: 5.5rem;
    top: 0;
    left: 5vw;
  }

  .logo h2 {
    font-size: 3rem;
    top: 0;
    left: 8vw;
  }

  .navbar {
    width: 60%;
  }

  .navbar a {
    font-size: 3rem;
    top: 0;
  }

  .container {
    width: 50%;
  }

  .name,.title {
    font-size: 5.5rem;
  }

  .about__history {
    font-size: 3rem;
  }
  
  .about h1 {
    font-size: 3.5rem;
  }

  .paragraph p {
    font-size: 3.5rem;
  }

  .headline h1 {
    font-size: 3rem;
    left: 8rem;
  }

  .intro {
    margin: -65px auto;
  }

  .caption {
    font-size: 3rem;
  }

  .copyright {
    font-size: 2rem;
  }
  
  .home__paragraph {
    font-size: 2.5rem;
  }
}

/* ==========================================
    Breakpoint at 781px <= width <= 1000px
========================================== */

@media (min-width:781px) and (max-width:1000px) {
  
  html {
    font-size: 52%;
  }

  .main__logo {
    display: flex;
    height: 10rem;
  }

  .logo {
    width: 40%;
    display: flex;
  }

  .logo img {
    width: 8rem;
    top: 0;
    left: 5vw;
  }

  .logo h2 {
    font-size: 3.5rem;
    top: 0;
    left: 8vw;
  }

  .navbar {
    width: 50%;
  }

  .navbar a {
    font-size: 3rem;
    top: 0;
  }

  .container {
    width: 25%;
  }

  .name,.title {
    font-size: 3rem;
    margin-left: 15px;
  }

  .title {
    margin-left: 35px;
  }

  .about__history {
    font-size: 2.5rem;
  }
  
  .about h1 {
    font-size: 3.5rem;
  }

  .paragraph p {
    font-size: 3.5rem;
  }

  .headline h1 {
    font-size: 3rem;
    left: 10rem;
  }

  .intro {
    margin: -70px auto;
  }

  .caption {
    font-size: 2rem;
  }
  
  .copyright {
    font-size: 2rem;
  }
  
  .home__paragraph {
    font-size: 2.5rem;
  }
}

/* ==========================================
    Breakpoint at width <= 1001px
========================================== */

@media (min-width:1001px) {

  .main__logo {
    display: flex;
    height: 10rem;
  }

  .logo {
    display: flex;  
  }

  .logo img {
    width: 8rem;
    top: 0;
    left: 1vw;
  }

  .logo h2 {
    font-size: 3.5rem;
    top: 0;
    left: 2vw;
  }

  .navbar {
    width: 50%;
  }

  .navbar a {
    font-size: 3rem;
    top: 0;
  }
  
  .container {
    width: 25%;
  }

  .name,.title {
    font-size: 3rem;
  }

  .about__history {
    font-size: 3rem;
  }
  
  .about h1 {
    font-size: 3.5rem;
    padding: 15px;
  }

  .paragraph p {
    font-size: 2.5rem;
  }

  .headline h1 {
    font-size: 3rem;
    left: 15rem;
  }

  .intro {
    margin: -85px auto;
  }
  
  .caption {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .copyright {
    font-size: 2rem;
  }
  
  .home__paragraph {
    font-size: 2.5rem;
  }
}